/* Vandy.scss
* Basic modern styles
*/
@font-face {
  font-family: Nexa;
  src: url("Nexa%20Light.otf") format("opentype");
}

@font-face {
  font-family: Nexa;
  font-weight: bold;
  src: url("Nexa%20Bold.otf") format("opentype");
}

body {
  font-family: "Nexa", "Open Sans", "Calibri", Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  max-width: 100%;
  background-color: white;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 80vh;
}

iframe {
  max-width: 100%;
}

header, section {
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}

header > h1, section > h1 {
  text-decoration: underline;
  font-size: 2em;
}

section > h1 {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .8rem;
  margin-top: 2rem;
}

p, ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 40em;
}

a {
  color: black;
  transition: 0.2s;
}

a:hover {
  color: #666666;
}

ul {
  margin: 0;
}

form {
  max-width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: red;
}

nav .nav {
  display: flex;
}

input, textarea, fieldset {
  display: block;
  margin-bottom: 1rem;
  border: 1px solid gray;
  border-radius: 5px;
}

input:not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="color"]):not([type="file"]), textarea:not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="color"]):not([type="file"]), fieldset:not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="color"]):not([type="file"]) {
  padding: .9em 1em;
  max-width: 100%;
  width: 40em;
}

strong {
  font-size: 2em;
  color: red;
}

header {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
}

header img.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  min-width: 100vw;
  max-height: none;
}

header img.logo {
  margin-top: 2rem;
  margin-right: 20%;
  width: 10%;
  max-width: 6em;
  min-width: 3em;
}

header div {
  background-color: red;
  margin: 6rem 0 4rem 2rem;
  padding: 2rem;
}

.filter {
  display: flex;
  justify-content: space-between;
  background-color: #f3e5d8;
  margin: 0;
}

.filter .cat {
  display: flex;
  list-style: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 2em;
  max-width: 65em;
  margin: 0 auto;
}

main .story {
  box-sizing: border-box;
  width: 33%;
  padding: 2em;
}

@media (max-width: 65em) {
  main .story {
    width: 50%;
  }
}

@media (max-width: 45em) {
  main .story {
    width: 100%;
  }
}

main .story h1 {
  font-size: 1.2em;
}

main .story img {
  width: 100%;
}
