/* Vandy.scss
* Basic modern styles
*/

$color: #6C7A89;
$trans: .2s;

body {
    font-family: "Open Sans", "Calibri", Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.4em;
    max-width: 100%;
    background-color: $color;
    padding: 0 3rem;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 80vh;
    background-color: white;
}

iframe {
    max-width: 100%;

}

header, section {
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    border-radius: .4rem;
    background-color: darken($color, 10);
    & > h1 {
        text-decoration: underline;
        font-size: 2em;
    }
}

section {
    & > h1 {
        text-decoration: none;
    }
}


h1, h2, h3, h4, h5, h6 {
    margin-bottom: .8rem;
    margin-top: 2rem;
    color: lighten($color, 100);
}

p, ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 40em;
    color: lighten($color, 100);
}

a {
    color: lighten($color, 100);
    transition: $trans;
    &:hover {
        color: lighten($color, 20);
    }
}

ul {
    margin: 0;
}

form {
    max-width: 100%;
}

input, textarea, fieldset {
    display: block;
    margin-bottom: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
    &:not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="color"]):not([type="file"]) {
        padding: .9em 1em;
        max-width: 100%;
        width: 40em;
        // font-size: 1.2em;
    }
}

strong {
    font-size: 2em;
    color: red;
}